.intro {
    min-height: 429px;
    min-width: 320px;
    max-width: calc(100% - 100px*2);
    margin: 92px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    box-sizing: border-box;
    }
    @media screen and (max-width: 1279px) {
        .intro {
            max-width: calc(100% - 48px*2);
        } 
    }

    @media screen and (max-width: 1023px) {
        .intro {
            margin: 88px auto 0;
            max-width: calc(100% - 24px*2);
        } 
    }
    @media screen and (max-width: 767px) {
        .intro {
            min-height: 754px;
            margin: 64px 0;
            justify-content: center;
            align-items: center;
            padding: 0 16px;
        } 
    }